body {
  background-color: grey;
  color:black;
}

p {
  font-family: Times;
  font-size: 15px;
  
}

div {
  background-color: grey;
  display: grid;
  color: black;
}

button {
  color: white;
  background: blue;
  flex: align; 
  width: 50px;
}