body {
  background-color: grey;
  color:black;
  display:grid;
  grid-template-areas:"head picture button"
                      "button button button"
                      "button projects foot";
  grid-template-columns: 1fr 100px 100px 
}

p {
  font-family: monospace;
  font-size: 15px;
  
}

.header {
  background-color: darkcyan;
  grid-column: 2/3;
  color: black;
  grid-area: head;
}

button {
  color: white;
  background: blue;
  flex: align; 
  width: 75px;
}

.footer {
  background-color:red;
  grid-area:foot;
}